* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: url(./BG.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

main 
{
    background-color: rgba(59, 59, 59, 0.65);
    margin: auto;
    width: 1192px;
}
.flex-nav 
{
    overflow: visible;
    z-index: 100;
    background-color: rgba(153, 75, 76, 0.806);
    border: 2px solid transparent;
    top: 0;
    width: 100%;
    position: sticky;
}
.flex-nav button 
{
    background-color: transparent;
    border-color: transparent;
}
.flex-nav ul li
{ 
    padding: 20px 50px;
    align-items: center;
    display: inline-block;
    list-style-type: none;
    align-self: center;
    align-content: space-between;
}
.flex-nav nav 
{
    text-align: center;
}

.flex-nav ul a 
{
    color: black;
}

.flex-nav ul a:hover
{
   transition-duration: 1.3s;
   color: aqua;
}
.container 
{
    margin: auto;
    max-width: min-content;
    grid-template-columns: 200px 100%;
    row-gap: 3px;
    column-gap: 4px;
    display: grid;
    height: 500px;
}

/*#region Main Section*/
.container div[class^="item"] 
{
    cursor: pointer;
    display:flex;
    max-width: 100%;
    align-items: center;
    border-radius: 4px;
    border: 2px solid rgba(221,181, 94, 0.78);
    background-color: transparent;
    justify-content: center;
    transition: transform 0.43s ease-in-out;
}
.container div[class^="item"]:hover
{
    text-decoration: underline;
    transform: translateX(-5px);
    
}

.container div[class^="item"] p 
{
    font: 1.54em sans-serif;
    max-width: fit-content;
    text-align: center;
    transform: rotate(-90deg);
}


#Main 
{
    border-radius: 10px 0 0;
    align-items: center;
    position: relative;
    display: flex;
    grid-column-start: 2;
    grid-row: 1 / 4;
    width: 79.65%;
    background-size:cover;
}
#Main .Image-slider 
{
    width: 60vw;
}
#Main button[class|="navbutton"]
{
    text-align: center;
    height: 100%;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    border-color: transparent;

    background-color: transparent;
}
.navbutton-L{
    position: absolute;
    left: 5%;
}
.navbutton-R{
    position: absolute;
    right: 5%;
}
.navbutton-L:hover 
{
    animation: ArrowBounceLeft  infinite 0.54s;
}

.navbutton-R:hover 
{
    animation: ArrowBounceRight infinite 0.54s;
}
#navigation {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
}
.btn{
    position:absolute;
    width: 0.2em;
    height: 0.2em;
    border: 0.4em solid black;
    background-color: black;
    border-radius: 50%;
}
#selected{
    position:absolute;
    width: 1.1em;
    height: 1.1em;
    border: 0.1em solid black;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
}
/*#endregion*/

/*#region footer*/
footer 
{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.86);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
footer p 
{
    color:rgba(255, 255, 255, 0.72);
    align-self: center;
    cursor: pointer;
}
footer ul 
{
    align-self: center;
    list-style-type: none;
}
/*#endregion*/

/*#region Google map*/
.Gmap 
{
    text-align: center;
    padding: 20px;
    margin: 90px auto auto auto;
}
.Gmap ul li
{
    cursor: pointer;
    list-style: none;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.mapouter {
    margin:  15px auto;
    position: relative;
    text-align: right;
    height: 588px;
    width: 858px;
}
.gmap_canvas {
    margin: 20px 0 20px 0;
    overflow: hidden;
    background: none !important;
    height: 588px;
    width: 858px;
}
/*#endregion*/



/*#region KEYFRAMES*/
@keyframes ArrowBounceLeft 
{
    0% {transform: translateX(0%);}
    50% {transform: translateX(-10%);}
    100% {transform:translateX(0%);}
}
@keyframes ArrowBounceRight 
{
    0% {transform: translateX(0%);}
    50% {transform: translateX(-10%);}
    100% {transform:translateX(0%);}
}
@keyframes SlideUp {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}


/*#endregion*/


